#
#              ██████ ██████   ██████  ███    ██ 
#             ██      ██   ██ ██    ██ ████   ██ 
#             ██      ██████  ██    ██ ██ ██  ██ 
#             ██      ██   ██ ██    ██ ██  ██ ██ 
#              ██████ ██   ██  ██████  ██   ████ 
#
#                       -+(crontab)-+-
#                If you want to interact with
#                X-session you need to export:
#                XAUTHORITY=<path> DISPLAY=:0
#
#                             ~~
