[submodule "config/.config/dmenu/j4-dmenu-desktop"]
	path = config/.config/dmenu/j4-dmenu-desktop
	url = https://github.com/enkore/j4-dmenu-desktop
[submodule "config/.zgen"]
	path = config/.zgen
	url = https://github.com/tarjoilija/zgen
