[user]
  name = cherrry9
  email = cherrry9@disroot.org
  signingkey = FF469BD6

[commit]
  gpgsign = true

[tag]
  gpgsign = true

[push]
  default = current

[color "status"]
  added = green
  changed = yellow
  untracked = red

[color "branch"]
  current = bold reverse yellow
  local = yellow
  remote = green

[format]
  pretty = %C(yellow)%h%Creset -%C(bold blue)%d%Creset %s %Cgreen(%cr) %C(bold black)<%an>%Creset

[credential]
  helper = cache --timeout 28800

[rerere]
  enabled = 1
  autoupdate = 1

[merge]
  style = diff3
  tool = nvim

[mergetool]
  prompt = false

[mergetool "nvim"]
  cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"

[diff]
  tool = nvim

[difftool]
  prompt = false

[difftool "nvim"]
  cmd = nvim -d \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\" -c \"$wincmd w\" -c \"wincmd J\"

[alias]
  a = add -v
  ap = add -p

  c = commit
  ca = commit -a
  cae = commit -a --no-edit

  s = status
  ss = status -s

  l = log
  ls = log --show-signature
  lp = log -p

  mt = mergetool
  df = difftool
  d = diff
  ds = diff --staged

  co = checkout
  com = checkout master
  cob = checkout -b
