[Unit]
Description=Change tty colours
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/home/jan/.local/bin/utilities/ttycol.sh

[Install]
WantedBy=multi-user.target
